.arch-service-1:hover {
    background: url(http://shristigurung.altervista.org/myPortfolio/images/about/aboutbg1.jpg) no-repeat 80% 0 / cover;
}

.arch-service {
    padding: 0;
    position: relative;
    background-color: #757576;
}


.arch-service-in {
    padding: 100px 30px;
    transition: opacity 0.4s ease-in-out;
    color:#000000;
    }
.arch-service-in .icon {
    color: #c74645;
    font-size: 30px;
    }
 .arch-service-in p {
    font-size: 13px;
    margin-bottom: 30px;
}
p {
    line-height: 1.5;
    }
    
 .arch-service-in .arch-service-btn {
    background: transparent;
    border: none;
    color: #ffe6e6;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0;
}

.arch-service-2:hover {
    background: url(http://shristigurung.altervista.org/myPortfolio/images/about/aboutbg2.jpg) no-repeat 30% 0 / cover;
}
.arch-service {
    padding: 0;
    position: relative;
}
.arch-service-in {
    padding: 100px 30px;
    transition: opacity 0.4s ease-in-out;
}
 
  .arch-service-in h3 {
    font: 700 26px "Roboto", Arial, sans-serif;
    text-transform: uppercase;
    margin: 20px 0 25px;
}

.arch-service-3:hover {
    background: url(http://shristigurung.altervista.org/myPortfolio/images/about/aboutbg3.jpg) no-repeat 80% 0 / cover;}


 .arch-service-4:hover {
    background: url(http://shristigurung.altervista.org/myPortfolio/images/about/aboutbg4.jpg) no-repeat 50% 0 / cover;
}


